[global]
env = "dev"

[log]
level = "info"

[servers]
[servers.debug]
addr = ":8079"

[servers.client]
addr = ":8080"
allow_origins = ["http://localhost:3011", "http://localhost:3000"]

[servers.client.required_access]
resource = "chat-ui-client"
role = "support-chat-client"

[clients]
[clients.keycloak]
base_path = "http://localhost:3010"
realm = "Bank"
client_id = "chat-service"
client_secret = "подставьте-свой-секрет"
debug_mode = false

[sentry]
dsn = "DSN from Client Keys page"
